@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer @ViewData["Developer"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/GitRique/Project_AspNetCore_Sales">https://github.com/GitRique/Project_AspNetCore_Sales</a>
</address>