@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Your heart St.<br />
    São Paulo, SP 01234-456<br />
    <abbr title="Phone">Phone: (11) 99123-4567 </abbr>
    

</address>

<address>
    <strong>Support:</strong> <a href="hsilvalopes9@gmail.com">hsilvalopes9@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="hsilvalopes9@gmail.com">hsilvalopes9@gmail.com</a>
</address>
